# Dependencies
node_modules/
.pnp
.pnp.js

# Production build artifacts
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
