# Dependencies
node_modules/
dist/
build/

# Sensitive Environment & Credential files
*.env
*.env.*
!*.example
*credentials.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db
